<div class="jumbotron">
  <h1 class="display-4">Hola</h1>
  <p class="lead">Esta aplicacion la hice como practica de un curso de express y mongo db, el codigo fue copiado del canal de Fazt en youtube</p>
  <hr class="my-4">
  <p>Esto solo es para aprender sobre el framewrok y la base de datos :)</p>
  <a class="btn btn-primary btn-lg" href="/users/signin" role="button">Iniciar</a>
</div>